:root {
  --primary-color: #113f67;
  --secondary-color: #e7eaf6;
  --tertiary-color: #38598b;
  --extra-color: #a2a8d3;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --serif-font: "Playfair Display", serif;
  --sans-serif-font: "Open Sans", sans-serif;
}

h1,
h2,
h4 {
  font-family: var(--serif-font);
  color: var(--primary-color);
}

h1 {
  font-size: 72pt;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 32pt;
  text-align: center;
}

h3 {
  font-family: var(--sans-serif-font);
  color: var(--primary-color);
  text-align: center;
  font-size: 22pt;
  margin-top: 15px;
}

h4 {
  font-size: 48px;
}

p,
a {
  font-family: var(--sans-serif-font);
}

img {
  border: 30px solid var(--tertiary-color);
  border-radius: 40px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 10px;
}

.primary-button {
  background-color: var(--primary-color);
  color: white;
  padding: 15px 20px;
  text-decoration: none;
  box-shadow: var(--box-shadow);
}

.secondary-button {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 15px 20px;
  text-decoration: none;
}

.hero {
  background-color: var(--secondary-color);
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contaact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover {
  color: var(--secondary-color);
}

footer .social-links a {
  margin: 0 20px;
  font-size: 18px;
  padding: 10px 14px;
  border-radius: 50%;
  color: var(--primary-color);
  background: var(--secondary-color);
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--primary-color);
}

.mag {
  font-style: italic;
}

.container-format {
  padding: 30px;
}

.content h1 {
  font-size: 40px;
  text-align: left;
}

.content h2 {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

.content a {
  margin-bottom: 30px;
}

.about-image {
  border: none;
}

@media (max-width: 576px) {
  h1 {
    font-size: 56px;
    color: var(--primary-color);
    text-align: center;
  }

  h2 {
    font-size: 24px;
    text-align: center;
  }

  h4 {
    font-size: 20px;
  }
  p {
    text-align: center;
  }

  .primary-button {
    font-size: 18px;
  }

  .center-button {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .disappear {
    display: none;
  }

  .priority {
    width: 100%;
  }

  .about-image {
    margin-top: 30px;
  }
}

@media (max-width: 768px) and (min-width: 576px) {
  .about-image {
    margin-top: 30px;
  }
  .center-button {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}
